<h2>SUTs</h2><hr>

<%= form_tag controller: "sysconfigs", action: "selectsut" do %>
	<%= hidden_field_tag(:sut, @selectsut) %>

	<% if @sutlist != nil then if @sutlist.count != 0 then %>
		<% @sutlist.each do |t| %>
			<div class="row">
				<%= radio_button_tag "selectsut", t.id, if @selectsut.to_i == t.id then true else false end, onchange: "this.form.submit();", class: "span3"  %><%= t.system.name + "-" + t.name %>
			</div>
		<% end %>
	<% else %>
		<h2><br>No SUTs existed</h2>
	<% end %>
	<% else %>
		<h2><br>No SUTs existed</h2>
	<% end %>

<% end %>

<% if current_user.lead? then%>
	<hr>
	<%= form_tag controller: "sysconfigs", action: "addsut" do |t| %>
		<%= hidden_field_tag(:sut, @selectsut) %>
		<div><%= select_tag 'system', options_from_collection_for_select( @systems, :id, :name) %></div>
		<div><%= text_field_tag :name, "SUT Name" %></div>
		<div><%= text_field_tag :spip, "SP IP Address" %></div>
		<div><%= text_area_tag :note, "Note..." %></div>
		<div><%= submit_tag "Add SUT" , :class => "submit" %></div>
	<% end %>
<% end %>