<div class="row ">
<h3 class="offset1">Update Testcase</h3>
<hr>

<div class="span8">
	<h2>Current Config Has Following Hardwares</h2>
	<table class="table table-striped table-bordered table-condensed">
		<tr><td>Name</td><td>Type</td><td>Position</td><td></td></tr>
		<% @sysconfig.sysconfigrelationships.each do |d| %>
			<% tmpdevice = Device.find_by_id(d.device_id) %>
				<% if tmpdevice != nil then if tmpdevice.devicetype.devicecate == "Hardware" then %>
					<tr>
						<td><%= tmpdevice.name %></td>
						<div id='<%= tmpdevice.name %>' class="showmoreinfo">Note:<hr><%= simple_format(tmpdevice.note) %></div>
						<td><%= tmpdevice.devicetype.name %></td>
						<td><%= d.position %></td> 
						<td><%= link_to "x", d, method: :delete, data: { confirm: "Sure?" }, class: "toright" %></td>
					</tr>
				<% end end %>
			<% end %>
	</table>

	<div class="row newpost">
		<h2>Add New Component To Current Config</h2>
		<%= form_tag controller: "sysconfigs", action: "adddevice" do %>
			<%= hidden_field_tag(:selecttype, @selecttype) %>
			<%= hidden_field_tag(:selectsut, @selectsut) %>
			<%= hidden_field_tag(:currentsysconfig_id, @sysconfig.id) %>
			<div class="span10"><%= select_tag 'selectdevice', options_from_collection_for_select( @devices, :id, :longname) %></div>
			<div class="span4"><%= text_field_tag :deviceposition, "", placeholder: "Position", class: "textsize4" %></div>
			<div class="span toright"><%= submit_tag "Add Device In" , :class => "submit btn btn-primary btn-danger" %></div>
		<% end %>
	</div>

</div>
</div>