<div class="row ">
<h3 class="offset1">Update Target</h3>
<hr>
  <div class="span6 offset1 editpage">
    <%= form_for(@target) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>
	  
	  <%= f.label :targetindex %>
      <%= f.text_field :targetindex %>

      <%= f.label :note %>
      <%= f.text_area :note, class: "editpage" %>
	  
      <%= f.submit "Save", class: "btn btn-primary"  %>
    <% end %>
  </div>
</div>