<% if @target != nil then %>
	<% if current_user.lead? then %>
		<h2><%= link_to @task.name, edit_task_path(@task),:onclick=>"window.open(this.href,'create_company', 'height=600, width=600');return false;" %></h2>
	<% else %>
		<h2>"<%= @task.name %>"</h2>
	<% end %>
<% end %>

<div class="toright">
	<% if current_user.lead? then %>
		<div class="row">
			<%= form_tag controller: "tasks", action: "selectuser" do %>
				<%= hidden_field_tag(:selecttask, @selecttask) %>
				<%= hidden_field_tag(:selecttarget, @selecttarget) %>
				<div class="span5">Assign Target to: <%= select_tag 'selectuser', options_from_collection_for_select( @users, :id, :email) %></div>
				<div class="span2"><%= submit_tag "OK" , :class => "submit btn btn-primary btn-success" %></div>
			<% end %>
		</div>
	<% end %>
</div>

<% if @taskobjects != nil then %>
	<table class="table table-striped table-bordered table-condensed">
		<tr><td>Task Objects Name</td><td>Release Date</td><td>Finish Status (one # for 10 cases)</td><td></td></tr>
		<% @taskobjects.each do |t| %>
			<tr><td><%= t.device.name %></td><td><%= t.device.created_at.to_date %></td>
			<td>
				<% (t.device.realexecutions.count / 10 + 1).times do %>
					<font color=green>#</font>
				<% end %>
			</td>
			<td></td></tr>
		<% end %>
		<% if @devices != nil and current_user == @task.user then %>
			<tr>
				<td>
					<%= form_tag controller: "tasks", action: "addtaskobject" do %>
						<%= hidden_field_tag(:selecttask, @selecttask) %>
						<%= hidden_field_tag(:selecttarget, @selecttarget) %>
						<div class="span"><%= select_tag 'taskobject', options_from_collection_for_select( @devices, :id, :name), :class => "textsize6" %></div>
						<div class="span"><%= submit_tag "+" , :class => "submit  btn btn-primary" %></div>
					<% end %>
				</td><td></td><td></td>
			</tr>
		<% end %>
	</table>	
<% else %>
	<div class="alarmtext center">No test targets existed!</div>
<% end %>

<!-- Draw tables for matrixes -->

<% if @targetenvlist != nil then %>
	<% if @target != nil then %>
	
<!-- Title of Matrix and Creation of new matrix -->
		<h2>
			<% if current_user.lead? then %>
				<div><%= link_to @target.name, edit_target_path(@target),:onclick=>"window.open(this.href,'create_company', 'height=600, width=600');return false;" %>
			<% else %>
				<div><%= @target.name %>
			<% end %>
			- <%= @target.user.email if @target.user != nil %> </div>
<!--
			<%= form_tag controller: "tasks", action: "addtagertenv" do %>
				<%= hidden_field_tag(:selecttask, @selecttask) %>
				<%= hidden_field_tag(:selecttarget, @selecttarget) %>
				<div class="span2 toright"><%= submit_tag "+ Matrix" , :class => "submit  btn btn-success" %></div>
			<% end %>
-->
		</h2>

<!-- Draw tables -->		
		<% @targetenvlist.each do |t|%>
			<% if current_user == @task.user then %>
<!-- Select X -->
				<div class="span">
				<%= form_tag controller: "tasks", action: "adddevice" do %>
					<%= hidden_field_tag(:selecttask, @selecttask) %>
					<%= hidden_field_tag(:selecttarget, @selecttarget) %>
					<%= hidden_field_tag(:selecttargetenv, t.id) %>
					<div class="span">DEVICES for X: <%= select_tag 'selectdevice', options_from_collection_for_select( @devices, :id, :name), :class => "textsize4" if @devices != nil %></div>
					<div class="span"><%= submit_tag "+" , :class => "submit  btn btn-primary" %></div>
				<% end %>
				</div>
<!-- Select Y -->
				<div class="span">
				<%= form_tag controller: "tasks", action: "addtestcase" do %>
					<%= hidden_field_tag(:selecttask, @selecttask) %>
					<%= hidden_field_tag(:selecttarget, @selecttarget) %>
					<%= hidden_field_tag(:selecttargetenv, t.id) %>
					<div class="span">TESTCASE for Y: <%= select_tag 'selecttestcase', options_from_collection_for_select( @testcases, :id, :name), :class => "textsize4"  %></div>
					<div class="span"><%= submit_tag "+" , :class => "submit  btn btn-primary" %></div>
				<% end %>
				</div>
			<% end %>
<!-- Select Env -->
			<div class="span">
				<%= form_tag controller: "tasks", action: "adddepdevice" do %>
					<%= hidden_field_tag(:selecttask, @selecttask) %>
					<%= hidden_field_tag(:selecttarget, @selecttarget) %>
					<%= hidden_field_tag(:selecttargetenv, t.id) %>
					<div class="span">SHOW ENVIRONMENT: <%= select_tag 'selectdevice', options_from_collection_for_select( @devices, :id, :name), :class => "textsize4"  %></div>
					<div class="span"><%= submit_tag "+" , :class => "submit  btn btn-primary" %></div>
				<% end %>
			</div>
			
			<% thematrix = t.targetmatrixes %>
			<table class="table table-bordered table-condensed">
				<% @colum = 0 %>
				<tr>
<!-- First line is testcase list -->
					<td></td>
					<% if t.targetdeprelationships.count != 0 then%>
						<% depexist = true %>
						<td></td>
					<% end %>
					<% t.targetcaserelationships.each do |c| %>
						<td>
							<% if current_user.lead? then %>
								<%= link_to c.testcase.name, c, method: :delete, data: { confirm: "Sure?" }, class: "" %>
							<% else %>
								<%= c.testcase.name %>
							<% end %>
						</td>
						<% @colum = @colum + 1 %>
					<% end %>
				</tr>
<!-- Draw each lines -->				
				<% t.targetenvrelationships.each do |d| %>
					<tr>
	<!-- The first row -->
						<td>
							<% if current_user.lead? then %>
								<%= link_to d.device.name, d, method: :delete, data: { confirm: "Sure?" }, class: "" %>
							<% else %>
								<%= d.device.name %>
							<% end %>
						</td>
						<% if depexist then %> <td>Over All</td> <% end %>
						<% t.targetcaserelationships.each do |c| %>
							<td>
<!-- test total result will be filled here, a new line -->
								<% currentexecutions = thematrix.select { |mx| mx.device_id == d.device_id and  mx.testcase_id == c.testcase_id } %>
								<% if currentexecutions.count != 0 then %>
									<% currentexecutions.each do |m| %>
										<% if m.execution.result == "fail" then %>
											<font color=red>x</font>
										<% else %>
											<font color=green>v</font>
										<% end %>
									<% end %>
								<% end %>
							</td>
						<% end %>
					</tr>
<!-- test environment result, if there're any,  will be filled here -->
					<% if depexist then %> 
						<% t.targetdeprelationships.each do |dep| %>
							<tr><td></td>
								<td><%= link_to dep.device.name, dep, method: :delete, data: { confirm: "Sure?" }, class: "" %></td>
								<% t.targetcaserelationships.each do |c| %>
									<td>
										<% currentexecutions = thematrix.select { |mx| mx.device_id == d.device_id and  mx.testcase_id == c.testcase_id } %>
										<% if currentexecutions.count != 0 then %>
											<% currentexecutions.each do |m| %>
												<% if m.devices.include? dep.device then %>
													<% if m.execution.result == "fail" then %>
														<font color=red>x(cr:<%= m.execution.bug %>)</font>
													<% else %>
														<font color=green>v</font>
													<% end %>
												<% end %>
											<% end %>
										<% end %>
									</td>
								<% end %>
							</tr>
						<% end %>
					<% end %>

				<% end %>		
			</table>
		<% end %>
	<% else %>
			<div class="alarmtext center">Select A target first!</div>
	<% end %>
<% end %>
