<script type="text/javascript" language="JavaScript">
<!--
function detailinfo(para1, para2) {
  document.getElementById(para1).style.display=para2;
}
--></script>

<%= form_tag controller: "tasks", action: "selecttask" do %>
	<% if @tasklist != nil then if @tasklist.count != 0 then %>
	<h2>Task List</h2>
		<% @tasklist.each do |t| %>
			<div class="row">
				<%= radio_button_tag "selecttask", t.id, if @selecttask.to_i == t.id then true else false end, onchange: "this.form.submit();", class: "span3"  %><%= t.name %>
				<td><%= link_to "x", t, method: :delete, data: { confirm: "Sure?" }, class: "toright" if current_user.lead? %></td>
			</div>
		<% end %>
	<% else %>
		<h2><br>No tasks existed</h2>
	<% end %>
	<% else %>
		<h2><br>No tasks existed</h2>
	<% end %>
<% end %>
<% if current_user.lead? then %>
	<%= form_tag controller: "tasks", action: "addtask" do |t| %>
		<div><%= text_field_tag :name,"",placeholder: "Add New Task", onfocus: 'detailinfo("detailtask","block")' %></div>
		<div id="detailtask", style="display:none"><%= select_tag 'selectsystem', options_from_collection_for_select( @systems, :id, :name) %>
		<%= text_area_tag :note, "",placeholder: "Note..." %>
		<%= submit_tag "Add New Task" , :class => "submit btn btn-mini btn-danger" %></div>
	<% end %>
<% end %>

<% if @selecttask != nil then %>
	<%= form_tag controller: "tasks", action: "selecttarget" do %>
		<%= hidden_field_tag(:selecttask, @selecttask) %>
		<h2><%= @task.name %> Targets</h2>
		<% if @targetlist != nil then @targetlist.each do |ta| %>
			<div class="row">
				<%= radio_button_tag "selecttarget", ta.id, if @selecttarget.to_i == ta.id then true else false end, onchange: "this.form.submit();", class: "span3"  %><%= ta.name %>
			</div>
		<% end end %>
	<% end %>
	
	<% if current_user.lead? then %>
		<%= form_tag controller: "tasks", action: "addtarget" do |t| %>
			<%= hidden_field_tag(:selecttask, @selecttask) %>
			<div><%= text_field_tag :name,"",placeholder: "Add New Target", onfocus: 'detailinfo("detailtarget","block")' %></div>
			<div id = "detailtarget", style="display:none"><%= text_area_tag :note, "",placeholder: "Note..." %>
			<%= submit_tag "Add New Target" , :class => "submit btn btn-mini btn-danger" %></div>
		<% end %>
	<% end %>
<% end %>
