<script type="text/javascript" language="JavaScript">
<!--
function detailinfo(para1, para2) {
  document.getElementById(para1).style.display=para2;
}
--></script>
<div class="row-fluid">
	<div class="span3">
		<h1>My Tasks</h1>
		<% if current_user.lead? then %>
			<%= form_tag controller: "tasks", action: "twiki" do %>
				<%= hidden_field_tag(:selecttask, @selecttask) %>
				<div><%= submit_tag "twiki" , :class => "submit label toright" %></div>
			<% end %>
			<%= form_tag controller: "tasks", action: "clonetask" do %>
				<%= hidden_field_tag(:selecttask, @selecttask) %>
				<div><%= submit_tag "clone" , :class => "submit label toright" %></div>
			<% end %>
		<% end %>
	</div>
	<div class="span3">
		<div class="span">
		<%= form_tag controller: "tasks", action: "selecttask" do %>
			<% if @tasklist != nil then if @tasklist.count != 0 then %>
				<%= select_tag 'selecttask', options_from_collection_for_select( @tasklist, :id, :name, @selecttask ), :class => "textsize8", onchange: "this.form.submit();"  %>
				<%= link_to "x", @task, method: :delete, data: { confirm: "Sure?" }, class: "" if current_user.lead? %>
			<% else %>
				<h2><br>No tasks existed</h2>
			<% end %>
			<% else %>
				<h2><br>No tasks existed</h2>
			<% end %>
		<% end %>
		</div><div class="span">
		<% if current_user.lead? then %>
			<%= form_tag controller: "tasks", action: "addtask" do |t| %>
				<div><%= text_field_tag :name,"",placeholder: "Add New Task", onfocus: 'detailinfo("detailtask","block")' %></div>
				<div id="detailtask", style="display:none"><%= select_tag 'selectsystem', options_from_collection_for_select( @systems, :id, :name) %>
				<%= text_area_tag :note, "",placeholder: "Note..." %>
				<%= submit_tag "Add New Task" , :class => "submit btn btn-mini btn-danger" %></div>
			<% end %>
		<% end %>
		</div>
	</div>
	<div class="span4">

		<% if @selecttask != nil then %>
		<div class="span">
			<%= form_tag controller: "tasks", action: "selecttarget" do %>
				<%= hidden_field_tag(:selecttask, @selecttask) %>
				<%= select_tag 'selecttarget', options_from_collection_for_select( @targetlist, :id, :name, @selecttarget ), :class => "textsize8", onchange: "this.form.submit();"  if @targetlist != nil%>
				<%= link_to "x", @target, method: :delete, data: { confirm: "Sure?" }, class: "" if current_user.lead? and @target != nil %>
			<% end %>
		</div><div class="span">	
			<% if current_user.lead? then %>
				<%= form_tag controller: "tasks", action: "addtarget" do |t| %>
					<%= hidden_field_tag(:selecttask, @selecttask) %>
					<div><%= text_field_tag :name,"",placeholder: "Add New Target", onfocus: 'detailinfo("detailtarget","block")' %></div>
					<div id = "detailtarget", style="display:none"><%= text_area_tag :note, "", :class => "textsize8", placeholder: "Note..." %>
					<%= submit_tag "Add New Target" , :class => "submit btn btn-mini btn-danger" %></div>
				<% end %>
			<% end %>
		<% end %>
		</div>
	</div>
	
	<div class="span toright">
		<%= form_tag controller: "tasks", action: "calculate" do %>
			<%= hidden_field_tag(:selecttask, @selecttask) %>
			<%= hidden_field_tag(:selecttarget, @selecttarget) %>
			<div class="span3"><%= submit_tag "Update Data" , :class => "submit btn btn-danger" if current_user.lead? %></div>
		<% end %>
	</div>

</div>
