<h2>Device List</h2><hr>

<ul>
	<% if @devicelist != nil then if @devicelist.count != 0 then %>
		<table class="table table-striped table-bordered table-condensed">
		<% @devicelist.each do |d| %>
			<tr>
				<td><%= d.name %></td>
				<td>count: <%= d.countnum %></td>
				<td><%= link_to "delete", d, method: :delete, data: { confirm: "Sure?" }, class: "toright" %><td>
			</tr>
		<% end %>
		</table>
			<% else %>
			<h2><br>No devices existed</h2>
		<% end %>
	<% else %>
		<h2><br>No Devices Existed Currently</h2>
	<% end %>
</ul>

<hr>
<h2>Add New Device In</h2>
<%= form_tag controller: "devices", action: "adddevice" do %>
	<%= hidden_field_tag(:devicecate, @selectcate) %>
	<%= hidden_field_tag(:devicetype, @selecttype) %>
	<div class="row">
		<div class="span5"><%= text_field_tag :name,"",placeholder: "Device Name", class: "textsize8" %></div>
		<div class="span5">Count Num: <%= text_field_tag :count,"0",placeholder: "Count",  class: "textsize4" %></div>
		<div class="span5"><%= text_field_tag :model,"",placeholder: "Model",  class: "textsize8 " %></div>
		<div class="span5"><%= text_field_tag :pn,"",placeholder: "PN",  class: "textsize8 " %></div>
		<div class="span10"><%= text_area_tag :note, "",placeholder: "Note...",  class: "textsize24 " %></div>
	</div>
	<div><%= submit_tag "Add" , :class => "submit" %></div>
<% end %>