<h2>Device List</h2><hr>

<ul>
	<% if @devicelist != nil then if @devicelist.count != 0 then %>
		<table class="table table-striped table-bordered table-condensed">
		<tr><td>Device Name</td><td>Created At</td><td>Count Num</td><td></td></tr>
		<% @devicelist.each do |d| %>
			<tr>
				<td onmouseover="ShowContent('<%= d.name %>');" onmouseout="HideContent('<%= d.name %>');">
					<%= link_to d.name, edit_device_path(d),:onclick=>"window.open(this.href,'create_company', 'height=600, width=600');return false;" %>
				</td>
				<div id='<%= d.name %>' class="showmoreinfo">Note:<hr><%= simple_format(d.note) %></div>
				<td><%= d.created_at.to_date %></td>
				<td><%= d.countnum %></td>
				<td><%= link_to "x", d, method: :delete, data: { confirm: "Sure?" }, class: "" %></td>
			</tr>
		<% end %>
		</table>
			<% else %>
			<div class="alarmtext center">No Devices Existed Currently</div>
		<% end %>
	<% else %>
		<div class="alarmtext center">No Devices Existed Currently</div>
	<% end %>
</ul>

<hr>

<%= form_tag controller: "devices", action: "adddevice" do %>
	<%= hidden_field_tag(:devicecate, @selectcate) %>
	<%= hidden_field_tag(:devicetype, @selecttype) %>
	<div class="row newpost">
		<h2>Add New Device In</h2>
		<div class="span10"><%= text_field_tag :name,"",placeholder: "Device Name (Can not be null)", class: "textsize24" %></div>
		<% if @selectcate == "Hardware" then %>
			<div class="span">Count: <%= text_field_tag :count,"0", class: "textsize2" %></div>
			<div class="span4"><%= text_field_tag :model,"",placeholder: "Model",  class: "textsize8 " %></div>
			<div class="span3"><%= text_field_tag :pn,"",placeholder: "PN",  class: "textsize8 " %></div>
		<% end %>
		<div class="span10"><%= text_area_tag :note, "",placeholder: "Note...",  class: "textsize24 " %></div>
		<div class="span4 toright"><%= submit_tag "Add New Device In" , :class => "submit  btn btn-danger" %></div>
	</div>
	
<% end %>