
<h2>My Devices</h2>

<%= form_tag remote: true, controller: "devices", action: "selectcate" do %>
	<%= hidden_field_tag(:devicecate, @selectcate) %>
	<%= hidden_field_tag(:devicetype, @selecttype) %>
	<% @catelist.each do |c| %>
		<div class="span2"><%= radio_button_tag 'selectcate', c, if @selectcate == c then true else false end, onchange: "this.form.submit();" %><%= c %></div>
	<% end %>
<% end %>

<hr>