<div class="row ">
<h3 class="offset1">Update Caseweight</h3>
<hr>
  <div class="span6 offset1 editpage">
    <%= form_for(@caseweight) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>
	  
	  <%= f.label :labelindex %>
      <%= f.text_field :labelindex %>

	  <%= f.label :weight %>
      <%= f.text_field :weight %>
	  
      <%= f.label :note %>
      <%= f.text_area :note, class: "editpage" %>
	  
      <%= f.submit "Save", class: "btn btn-primary"  %>
    <% end %>
  </div>
</div>