<h2>My SUTs</h2><hr>

<%= form_tag controller: "executions", action: "selectsut" do %>
	<%= hidden_field_tag(:selecttype, @selecttype) %>

	<% if @sutlist != nil then if @sutlist.count != 0 then %>
		<% @sutlist.each do |t| %>
			<div class="row">
				<%= radio_button_tag "selectsut", t.id, if @selectsut.to_i == t.id then true else false end, onchange: "this.form.submit();", class: "span3"  %>
				<%= t.system.name + "-" + t.name + " (" + t.spip + ")" %>
			</div>
		<% end %>
	<% else %>
		<div class="alarmtext center">You do not have any SUTs<br>Ask lead to assign one</div>
	<% end %>
	<% else %>
		<div class="alarmtext center">You do not have any SUTs<br>Ask lead to assign one</div>
	<% end %>

<% end %>

<hr>
<% if @sysconfig != nil then %>	
	<h2>SW/FW Configuration</h2>
	<ul>
		<% @sysconfig.current_swc.each do |swc|%>
			<li><%= swc.device.devicetype.name + "-" + swc.device.name if swc.device != nil %></li>
		<% end %>
	</ul>
	<h2>HW Configuration</h2>
	<ul>
		<% @tmp = nil %>
		<% @sysconfig.current_hwc.each do |hwc|%>
			<% if @tmp == nil then%>
				<li><%= hwc.device.devicetype.name + "-" + hwc.device.name if hwc.device != nil %><%= " at position " + hwc.position.to_s if hwc.position != nil%>
				<% @tmp = hwc %>
			<% else %>
				<% if hwc.device != nil and @tmp.device != nil then %>
					<% if hwc.device.name == @tmp.device.name then %>
						,<%= hwc.position.to_s if hwc.position != nil %>
						<% @tmp = hwc %>
					<% end %>
				<% else %>
					</li><li><%= hwc.device.devicetype.name + "-" + hwc.device.name if hwc.device != nil %><%= " at position " + hwc.position.to_s if hwc.position != nil%>
					<% @tmp = hwc %>
				<% end %>
			<% end %>
		<% end %>
		</li>
	</ul>
<% end %>