<h2>Testcase Running</h2>
<div class="weeklystatus">

	<% if @userexecution != nil then %>
		<% tmpos = "" %>
		<% @userexecution.each do |result| %>
			<% if result[:os] != tmpos then %>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* <%= result[:os] %> <%= result[:bios] %> <%= result[:biosmode]%><br>
				<% tmpos = result[:os] %>
			<% end %>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* <%= result[:title] %><br>		
		<% end %>
		
	<% else %>
		<div class="span8">Never Run Any Testcases In This Week</div>
	<% end %>
	
</div>

<br><h2>Other Works For This Week</h2>
<div class="weeklystatus">
	<% if @mysysconfigurations != nil then %>
		<% @mysysconfigurations.each do |c| %>
			<% if c.devices.any? then %>
			&nbsp;&nbsp;&nbsp;* Config Server <%= c.sut.system.name if c.sut != nil %> <%= c.sut.name if c.sut != nil %> to configs as below:<br>
			<% c.devices.order.each do |d|  %>
				<% if d.devicetype.devicecate == "Hardware" then %>
					<% @position = Sysconfigrelationship.find_by_sysconfig_id_and_device_id(c.id, d.id).position %>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* <%= d.name %> at position:<%= @position %><br>
				<% end %>
			<% end %>
			<% end %>
		<% end %>
	<% else %>
		<div class="span8">Never Config Any Servers<%= c.sut_id %></div>
	<% end %>
</div>

