<h2>Testcases in Stage</h2><hr>

<%= form_tag controller: "testcases", action: "selecttype" do %>
	<%= hidden_field_tag(:casecate, @selectcate) %>
	<%= hidden_field_tag(:casetype, @selecttype) %>

	<% if @typelist != nil then if @typelist.count != 0 then %>
		<% @typelist.each do |t| %>
			<div class="row">
				<%= radio_button_tag "selecttype", t.id, if @selecttype.to_i == t.id then true else false end, onchange: "this.form.submit();", class: "span3"  %><%= t.name %>
				<%= link_to "x", t, method: :delete, data: { confirm: "Sure?" }, class: "span toright" if current_user.root? %>
			</div>
		<% end %>
	<% else %>
		<h2><br>No types existed</h2>
	<% end %>
	<% else %>
		<h2><br>No types existed</h2>
	<% end %>

<% end %>

<% if current_user.root? then %>
<div class="row newpost">
	<h2>New Testcase Type</h2>
	<hr>
	<%= form_tag controller: "testcases", action: "addtype" do |t| %>
		<%= hidden_field_tag(:casecate, @selectcate) %>
		<%= hidden_field_tag(:casetype, @selecttype) %>
		<div><%= text_field_tag :name,"",placeholder: "Case Type Name" %></div>
		<div><%= text_area_tag :note,"",placeholder: "Note..." %></div>
		<div><%= submit_tag "Add Type" , :class => "submit" %></div>
	<% end %>

	<h2>Labels for Testcases</h2><hr>

	<% if @weightlist != nil then if @weightlist.count != 0 then %>
		<% @weightlist.each do |t| %>
			<div class="row">
				<div class="span">
				<%= t.labelindex %> - <%= link_to t.name, edit_caseweight_path(t), :onclick=>"window.open(this.href,'create_company', 'height=650, width=600');return false;" %> - weight:<%= t.weight %>
				</div>
				<%= link_to "x", t, method: :delete, data: { confirm: "Sure?" }, class: "span toright" if current_user.root? %>
			</div>
		<% end %>
	<% else %>
		<h2><br>No label existed</h2>
	<% end %>
	<% else %>
		<h2><br>No label existed</h2>
	<% end %>
	<hr>
	<%= form_tag controller: "testcases", action: "addlabel" do |t| %>
		<div><%= text_field_tag :name,"",placeholder: "Label Name" %></div>
		<div><%= text_field_tag :labelindex,"",placeholder: "Label Index" %></div>
		<div><%= text_field_tag :weight,"",placeholder: "1 - 10" %></div>
		<div><%= text_area_tag :note,"",placeholder: "Note..." %></div>
		<div><%= submit_tag "Add Label" , :class => "submit" %></div>
	<% end %>
</div>	
<% end %>