<div class="span3">
<h1>Test Cases</h1>
</div>
<div class="span8 toright">
<%= form_tag controller: "testcases", action: "selectcate" do %>
	<%= hidden_field_tag(:casecate, @selectcate) %>
	<%= hidden_field_tag(:casetype, @selecttype) %>
	<% @catelist.each do |c| %>
		<div class="span2"><%= radio_button_tag 'selectcate', c, if @selectcate == c then true else false end, onchange: "this.form.submit();" %><%= c %></div>
	<% end %>
<% end %>
</div>