<h2>Testcase List</h2><hr>

<% if @testcases != nil then %>
	<% if @testcases.count != 0 then %>
		<table class="table table-striped table-bordered table-condensed">
			<% @testcases.each do |d| %>
				<tr>
					<td><%= d.name %></td>
					<% if d.devicetype != nil then %>
						<td>make env change: <%= d.devicetype.name %></td>
					<% end %>
					<td><%= link_to "delete", d, method: :delete, data: { confirm: "Sure?" }, class: "toright" if current_user.root? %></td>
				</tr>
			<% end %>
		</table>
	<% else %>
		<h2><br>No testcases existed</h2>
	<% end %>
<% else %>
	<h2><br>No testcases existed</h2>
<% end %>


<hr>
<%= form_tag controller: "testcases", action: "addcase" do %>
	<%= hidden_field_tag(:casecate, @selectcate) %>
	<%= hidden_field_tag(:casetype, @selecttype) %>
	<div class="span10">
		<div class="span">Testcase Name: <br><%= text_field_tag :name, "", class: "textsize8" %></div>
		<div class="span">Make Env Change: <br><%= select_tag 'devicetype', options_from_collection_for_select( @devicetypes, :id, :name ), include_blank: 'None', class: "textsize6" %></div>
	</div>
	<div class="span10">
		<div class="span8">Execution Steps:<%= text_area_tag :steps, "", class: "textsize26" %></div>
	</div>
	<div><%= submit_tag "Add" , :class => "submit" %></div>
<% end %>