<h2>Testcase List</h2><hr>

<% if @testcases != nil then %>
	<% if @testcases.count != 0 then %>
		<table class="table table-striped table-bordered table-condensed">
			<tr><td>TestCase Name</td><td>TestCase Parameter</td><td>Designed By</td><td>Operation</td></tr>
			<% @testcases.each do |d| %>
				<tr>
					<td><%= d.name %></td>
					<td><%=if d.devicetype != nil then d.devicetype.name else "None" end %></td>
					<td><%= d.user.email if d.user != nil %></td>
					<td><%= link_to "delete", d, method: :delete, data: { confirm: "Sure?" }, class: "toright" if current_user.root? %></td>
				</tr>
			<% end %>
		</table>
	<% else %>
		<div class="center alarmtext">No testcases existed</div>
	<% end %>
<% else %>
	<div class="center alarmtext">No testcases existed</div>
<% end %>

<div class="row newpost">
<h2>Create a case, TYPE is: <%= @selectcate %>, STAGE is: <%= Casetype.find_by_id(@selecttype).name %></h2>

	<%= form_tag controller: "testcases", action: "addcase" do %>
		<%= hidden_field_tag(:casecate, @selectcate) %>
		<%= hidden_field_tag(:casetype, @selecttype) %>
		<div class="span10">
			<div class="span">Testcase Name: <br><%= text_field_tag :name, "", class: "textsize16" %></div>
			<% if @selectcate == "Operation" then %>
				<div class="span">Make Env Change: <br><%= select_tag 'devicetype', options_from_collection_for_select( @devicetypes, :id, :name ), include_blank: 'None', class: "textsize4" %></div>
			<% end %>
			<div class="span10">Execution Steps:<%= text_area_tag :steps, "", class: "textsize24" %></div>
			<div class="span3 toright"><%= submit_tag "Add New Case" , :class => "submit btn btn-success toright" %></div>
		</div>
	<% end %>
</div>