<h2>Condition</h2><hr>

<div class="row"><div class="span7">
	<%= form_tag controller: "searches", action: "search" do |t| %>
		<%= hidden_field_tag(:devicecate, @selectcate) %>
		<div class="span4">
			<% if @searchobject != nil then %>
				<%= select_tag 'searchobject', options_from_collection_for_select( @devices, :id, :longname, @searchobject.id), :class => "textsize6" %>
			<% else %>
				<%= select_tag 'searchobject', options_from_collection_for_select( @devices, :id, :longname), :class => "textsize6" %>
			<% end %>
		</div>
		<div class="span">How Many:(can be blank)</div>
		<div class="span7"><%= text_field_tag :count,session[:count],placeholder: "" %></div>
		<div class="span">Where Is:(can be blank)</div>
		<div class="span7"><%= text_field_tag :position,session[:position],placeholder: "" %></div>
		<div class="span4 toright"><%= submit_tag "Search" , :class => "submit btn btn-primary btn-danger" %></div>
	<% end %>
</div></div>
