<h2><%= @selectcate %> Components Under Test</h2><hr>

<ul>
	<% if @devicelist != nil then %>
		<table class="table table-striped table-bordered table-condensed">
			<tr><td>Device Name</td><td>Type</td><td>Max Cfg</td><td>Opration</td></tr>
			<% @devicelist.each do |d| %>
				<% if d.devicetype.devicecate == @selectcate then%>
				<tr>
					<td><%= d.name %></td>
					<td><%= d.devicetype.name%></td> 
					<td><%= Avlrelationship.find_by_system_id_and_device_id(@selectsystem, d.id).maxnum %></td> 
					<td><%= link_to "delete", Avlrelationship.find_by_system_id_and_device_id(@selectsystem,d.id), method: :delete, data: { confirm: "Sure?" }, class: "" if current_user == System.find_by_id(@selectsystem).user%></td>
				</tr>
				<% end %>
			<% end %>
		</table>
		<% if @devicelist.count == 0 then %><h2><br>No Components Existed</h2><% end %>
	<% else %>
		<h2><br>No Components Existed</h2>
	<% end %>
</ul>

<% if @selectsystem != nil then %>
	<% if current_user == System.find_by_id(@selectsystem).user then %>
		<hr>
		<%= form_tag controller: "systems", action: "selecttype" do %>
			<%= hidden_field_tag(:devicecate, @selectcate) %>
			<%= hidden_field_tag(:selectsystem, @selectsystem) %>
			<div class="span10">
				<div class="span"><%= select_tag 'devicetype', options_from_collection_for_select( @devicetypes, :id, :name, @selecttype ), onchange: "this.form.submit();" %></div>
			</div>
		<% end %>

		<%= form_tag controller: "systems", action: "adddevice" do %>
			<%= hidden_field_tag(:devicecate, @selectcate) %>
			<%= hidden_field_tag(:selectsystem, @selectsystem) %>
			<%= hidden_field_tag(:devicetype, @selecttype) %>
			<div class="span10">
				<div class="span"><%= select_tag 'selectdevice', options_from_collection_for_select( @devices, :id, :name) %></div>
				<div class="span"><%= text_field_tag :maxnum, "", placeholder: "Max Quantity", class: "textsize4" %></div>
				<div class="span"><%= text_area_tag :note, "",placeholder: "Note...", class: "textsize26" %></div>
				<div class="span"><%= submit_tag "Add In", class: "btn btn-primary btn-success" %></div>
			</div>
		<% end %>
	<% end %>	
<% end %>										