<h2><%= @selectcate %> System AVL</h2><hr>

<ul>
	<% if @devicelist != nil then %>
		<table class="table table-striped table-bordered table-condensed">
			<tr><td>Device Name</td><td>Type</td><% if @selectcate == "Hardware" then %> <td>Max Cfg</td> <% end %><td></td></tr>
			<% @devicelist.each do |d| %>
				<tr>
					<td onmouseover="ShowContent('<%= d.name %>');" onmouseout="HideContent('<%= d.name %>');"><%= d.name %></td>
					<div id='<%= d.name %>' class="showmoreinfo">Note:<hr><%= simple_format(d.note) %></div>
					<td><%= d.devicetype.name%></td> 
					<% if @selectcate == "Hardware" then %>
						<td><%= Avlrelationship.find_by_system_id_and_device_id(@selectsystem, d.id).maxnum %></td> 
					<% end %>
					<td><%= link_to "x", Avlrelationship.find_by_system_id_and_device_id(@selectsystem,d.id), method: :delete, data: { confirm: "Sure?" }, class: "" if current_user == System.find_by_id(@selectsystem).user%></td>
				</tr>
			<% end %>
		</table>
		<% if @devicelist.count == 0 then %><div class="alarmtext center">No Components Existed</div><% end %>
	<% else %>
		<div class="alarmtext center">No Components Existed</div>
	<% end %>
</ul>

<% if @selectsystem != nil then %>
	<% if current_user == System.find_by_id(@selectsystem).user then %>
		<div class="row newpost"><h2>Add SW/HW/FW To System AVL</h2>
		<%= form_tag controller: "systems", action: "selecttype" do %>
			<%= hidden_field_tag(:devicecate, @selectcate) %>
			<%= hidden_field_tag(:selectsystem, @selectsystem) %>
			<div class="span10">
				<div class="span"><%= select_tag 'devicetype', options_from_collection_for_select( @devicetypes, :id, :longname, @selecttype ), onchange: "this.form.submit();" %></div>
			</div>
		<% end %>

		<%= form_tag controller: "systems", action: "adddevice" do %>
			<%= hidden_field_tag(:selectsystem, @selectsystem) %>
			<div class="span10">
				<div class="span"><%= select_tag 'selectdevice', options_from_collection_for_select( @devices, :id, :name) %></div>
				<div class="span"><%= text_field_tag :maxnum, "", placeholder: "Max Quantity", class: "textsize4" if @selectcate == "Hardware" %></div>
				<div class="span9"><%= text_area_tag :note, "",placeholder: "Note...", class: "textsize26" %></div>
				<div class="span9"><%= submit_tag "Add In", class: "btn btn-primary btn-success" %></div>
			</div>
		<% end %>
	</div>
	<% end %>		
<% end %>			
						
